.hero-inicio {
    text-align: center;
    padding: 60px 20px;
    background-color: #f7f3f0; 
    border-radius: 10px;
    margin-bottom: 40px;
}

.hero-inicio h1 {
    font-size: 3em;
    color: #4B3832;
    margin-bottom: 15px;
}

.hero-inicio p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}
.boton-principal {
    display: inline-block;
    background-color: #9c5b2c; 
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton-principal:hover {
    background-color: #7B5C4A; 
}
.grid-destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}

.destacado-item {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.item-main {
    grid-row: 1 / span 2; 
    text-align: left;
    background-color: #eee9e5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-main h2 {
    font-size: 2em;
    color: #9c5b2c; 
    margin-bottom: 15px;
}

.item-main p {
    font-size: 1.1em;
    color: #4B3832;
    margin-bottom: 20px;
}

.item-producto-1 img,
.item-producto-2 img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.item-producto-1 h3,
.item-producto-2 h3 {
    color: #4B3832;
    font-size: 1.3em;
}

.ofertas-grid-items {
    display: flex; 
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.oferta-producto {
    flex: 0 0 45%;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.oferta-producto img {
    width: 100%;
    max-height: 100px; 
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 4px;
}

.oferta-producto h4 {
    color: #7B5C4A;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.precio-oferta {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px;
}
.precio-anterior {
    text-decoration: line-through; 
    color: #999; 
    font-size: 1.1em; 
    font-weight: 400; 
}

.precio-oferta span:not(.precio-anterior) {
    color: #9c5b2c;
    font-size: 1.6em; 
    font-weight: bold;
    line-height: 1; 
}

.boton-oferta-comprar {
    display: inline-block;
    background-color: #7B5C4A; 
    color: white;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton-oferta-comprar:hover {
    background-color: #4B3832;
}
.item-banner-oferta {
    grid-column: 1 / span 2; 
    background-color: #ffdad3; 
    padding: 20px;
}

.item-banner-oferta i {
    font-size: 2em;
    color: #9c5b2c;
    margin-bottom: 10px;
}

.boton-secundario {
    display: inline-block;
    color: #9c5b2c;
    text-decoration: none;
    border: 1px solid #9c5b2c;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-secundario:hover {
    background-color: #9c5b2c;
    color: white;
}

.seccion-slogan {
    text-align: center;
    padding: 30px 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-bottom: 50px;
}

.seccion-slogan blockquote {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.5em;
    color: #4B3832;
}
header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #ffdad3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);     
}

nav ul{
    display: flex; 
    justify-content: space-evenly;
    list-style: none;     

}
nav a {
    text-decoration: none; 
    color: black;
    display: block;
    transition: background-color 0.3s;
    font-weight: bold;
    font-family: 'Playfair Display';
}
nav a:hover {
    background-color: #f3b5b5;
    border-radius: 4px;
}
main{
    margin-top: 90px; 
    max-width: 1300px; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
h1{
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3em;
    color: #4B3832; 
    margin-bottom: 15px;

}
.productos {
    display: flex;         
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 15px;             
    padding: 10px 0; 
    width: 100%; 
}

.productos article {
    flex: 0 0 30%;
    max-width: 30%; 
    min-width: 280px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;    
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.productos article p {
    flex-grow: 1; 
    font-family: 'Roboto', sans-serif;
    color: #555; 
    font-size: 0.9em; 
    line-height: 1.4; 
    padding: 0 30px;
}

.productos article .card-footer span {
    display: block; 
    font-size: 1.1em;
    color: #9c5b2c; 
    font-weight: bold;
    margin-bottom: 8px; 

}

.productos article .card-footer button {
    background-color: #7B5C4A; 
    color: white;
    border: none;
    padding: 10px 5px; 
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s, box-shadow 0.3s;
    
}
.productos article .card-footer button:hover {
    background-color: #4B3832; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.productos article img {
    max-width: 100%; 
    height: 200px;   
    object-fit: contain;
    border-radius: 4px; 
    margin-bottom: 10px;
}
.seccion-contacto {
    max-width: 700px; 
    margin: 40px auto; 
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.titulo-contacto {
    font-family: 'Playfair Display', serif;
    color: #4B3832; 
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.8em;
}

.formulario-contacto, .info-contacto {
    flex: 1; 
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f3f0; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.info-contacto {
    text-align: left;
    background-color: #f7f3f0;     
    border: 1px solid #e9e9e9; 
    border-radius: 8px;
    padding: 25px; 
    margin-top: 30px; 
}

.info-contacto h3 {
    
    color: #9c5b2c; 
    font-size: 1.6em; 
    font-weight: 700;
    margin-bottom: 20px;
    
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.info-contacto p {
    color: #4B3832; 
    margin-bottom: 12px; 
    font-size: 1em;
    line-height: 1.4;
}

.info-contacto i {
    margin-right: 10px;
    color: #7B5C4A; 
    font-size: 1.1em; 
}

.campo-grupo {
    margin-bottom: 20px;
}

.formulario-contacto label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #4B3832;
    font-size: 0.9em;
}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 1em;
    font-family: 'Playfair Display', sans-serif;
}

.formulario-contacto textarea {
    resize: vertical;
}

.boton-enviar {
    background-color: #7B5C4A;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block; 
    width: 100%; 
}

.boton-enviar:hover {
    background-color: #4B3832;
}

/* --- Estilos para la Sección Reseñas --- */

.seccion-reseñas {
    padding: 50px 0;
    text-align: center;
    background-color: #f7f3f0; /* Fondo claro de tu hero-inicio */
    margin-bottom: 40px;
}

.seccion-reseñas h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #4B3832;
    margin-bottom: 40px;
}

.reseñas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.reseña-item {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reseña-principal {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: #ffdad3;
    padding: 40px;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 15px;
}

.rating i {
    color: #9c5b2c;
    font-size: 1.2em;
}

/* Texto y Autor */
.reseña-texto {
    font-style: italic;
    color: #4B3832;
    margin-bottom: 15px;
    line-height: 1.5;
    flex-grow: 1; 
}

.reseña-autor {
    font-weight: bold;
    color: #7B5C4A; 
    font-size: 0.9em;
}

footer {
    background-color: #4B3832; 
    color: #fff;
    padding: 40px 20px 10px; 
    font-size: 16px;
}

.footer-contenido {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 1300px; 
    margin: 0 auto 30px; 
    border-bottom: 1px solid #7B5C4A; 
    padding-bottom: 20px;
}

.columna-footer {
    width: 30%; 
    min-width: 200px;
    margin-bottom: 20px;
}
.columna-footer h4 {
    color: #ffdad3;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif; 
}

.columna-footer p, .columna-footer a {
    color: #ccc;
    text-decoration: none;
    line-height: 1.6;
    display: block; 
    margin-bottom: 8px;
    transition: color 0.3s;
}

.columna-footer a:hover {
    color: #9c5b2c;
}

.navegacion-secundaria ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.iconos-sociales {
    display: flex;
    gap: 15px;
}

.iconos-sociales a {
    font-size: 1.8em; 
    color: #ffdad3;
}

.iconos-sociales a:hover {
    color: #9c5b2c;
}

\.footer-copyright {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    color: #999;
}


@media (max-width: 768px) {
    .columna-footer {
        width: 100%; 
        text-align: center; 
    }

    .footer-contenido {
        flex-direction: column; 
    }
    
    .iconos-sociales {
        justify-content: center; /* Centrar los iconos en móvil */
        margin-top: 10px;
    }
    nav ul {
        flex-direction: column; 
        padding: 10px 0;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    main {
        margin-top: 130px; 
    }
    .productos article {
        flex: 1 1 90%; 
        max-width: 90%; 
        min-width: unset; 
    }
    .productos article .card-footer button {
        width: 80%; 
        padding: 8px 10px;
        font-size: 0.95em;
    }

    .productos article p {
        padding: 0 15px;
    }
    .ofertas-grid-items {
        flex-direction: column; 
        gap: 15px;
    }
    
    .oferta-producto {
        flex: 1 1 100%; 
    }
    .reseñas-grid {
        grid-template-columns: 1fr;
    }
    .reseña-principal {
        grid-column: auto; 
    }
}